## Accessing Data: Using df.iloc[] and df.loc[]

In [ ]:
import pandas as pd

# Sample DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'Age': [25,30,35,40,45],
    'City': ['New York', 'Los Angeles', 'Chicago', 'Houston', 'Seattle']
}

df = pd.DataFrame(data)

In [ ]:
df

### Accessing a single row

In [ ]:
row = df.loc[2]
row

### Accessing a single cell

In [ ]:
cell = df.loc[3, 'City']
cell

### Accessing a slice of row

In [ ]:
subset_rows = df.loc[1:3]
subset_rows

### Accessing a subset of rows and columns

In [ ]:
subset = df.loc[1:4, ['Name', 'City']]
subset

### Filter rows where Age is greater than 30

In [ ]:
mask = df['Age'] > 30
filtered = df.loc[mask]
filtered