## Modifying Data: Adding and Dropping Columns and Rows

In [ ]:
import pandas as pd

# Sample DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Chalie'],
    'Age': [25,30,35]
}
df = pd.DataFrame(data)

In [ ]:
df

### Adding a new column

In [ ]:
df['City'] = ['New York', 'Los Angeles', 'Chicago']

In [ ]:
df

### Adding a computed column

In [ ]:
df['Age Group'] = ['Young' if age < 30 else 'Mature' for age in df['Age']]

In [ ]:
df

### Removing a column

In [ ]:
df = df.drop('Age Group', axis=1)

In [ ]:
df

### Removing a row

In [ ]:
df = df.drop(1)

In [ ]:
df

### Add multiple columns at once

In [ ]:
df = df.assign(Discount=[5,10], Total_Spend=[100,200])

In [ ]:
df