### Handling Missing Data

In [ ]:
import pandas as pd
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [25,None,35,40],
    'City': ['New York', 'Los Angeles', None, 'Houston']
}
df = pd.DataFrame(data)

In [ ]:
df

In [ ]:
# Identifying the abscence of value
df.isnull()

In [ ]:
df.isna()

In [ ]:
df_cleaned = df.dropna()
df_cleaned

In [ ]:
df

In [ ]:
# Drop columns that contains NaN or None
df_cleaned = df.dropna(axis=1)
df_cleaned

In [ ]:
# Replaces None or NaN by given value
df['Age'] = df['Age'].fillna(df['Age'].mean())

In [ ]:
df

In [ ]:
df['City'] = df['City'].fillna('Unknown')

In [ ]:
df