### Filtering Data: Masks and pandas.Series.between()

In [ ]:
import pandas as pd

# Sample DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'Age': [25,30,35,40,45],
    'City': ['New York', 'Los Angeles', 'Chicago', 'Houston', 'Miami']
}
df = pd.DataFrame(data)

In [ ]:
df

In [ ]:
mask = df['Age'] > 30

In [ ]:
mask

In [ ]:
filtered_df = df[mask]
filtered_df

In [ ]:
mask = (df['Age'] > 30) & (df['City'] != 'Houston')
filtered_df = df[mask]
filtered_df

#### pansas.Series.between()

In [ ]:
df

In [ ]:
filtered_df = df[df['Age'].between(30,40)]
filtered_df

In [ ]:
mask = df['City'].isin(['Chicago', 'Houston'])
filtered_df = df[mask]
filtered_df